.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 240px; /* correspond à la largeur de la sidebar */
  padding: 30px;
  background: #0f172a;
  color: #e5e7eb;
}
